@charset "utf-8";
/* CSS Document */
div,ul,li,ol,pre,h1,h2,h4,h5,h6,dl,dt,dd,input,fieldset,form,textarea,p,th,td,botton,blockquote,span,img,a,body{margin:0;padding:0; list-style:none;text-decoration:none; border:0;font-family: "微软雅黑"; font-size:12px;}
#top{ position:relative; float:left;width:100%; height:126px;  background:url(../images/topbg.png) repeat-x; border-top:4px solid #ca2714; z-index:100;}
h3{font-family:"微软雅黑";margin:0;padding:0;}
.header{ margin:0 auto; width:1100px;}
.logo{ float:left; width:107px; height:112px;}
#nav{ float:right; width:700px;}
#nav li{ float:left; background:url(../images/line.png) right no-repeat;}
#nav li a{ float:left;padding:0 35px; line-height:112px; color:#333; font-size:16px; font-family:"微软雅黑";}
#nav li a:hover{ background: url(../images/libg.jpg) repeat-x; color:#fff;}
.lang{ float:right; line-height:112px; margin-left:20px;}
.lang a{ margin:0 10px;color:#342c2a; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
#banner{ float:left; width:100%;}
#banner img{ float:left; width:100%; margin-top:-20px;}

#banner_x{ float:left; width:100%;}
#banner_x img{ float:left; width:100%; height:250px; margin-top:-20px;}

#content{ float:left; width:100%;background:#fafbfd url(../images/contentbg.jpg) repeat-x; padding-bottom:10px;}
.main{ margin:0 auto; width:1100px; padding-top:30px;}
.m_p{ float:left; width:100%;}
.m_pt{ float:left; width:100%; border-bottom:1px solid #d0cdcd;}
.m_pt h3{ float: left; line-height:40px; font-size:22px; color:#000; font-weight:normal;}
.m_p ul{ float:left; width:100%; padding-top:15px;}
.m_p li{ float:left; width:248px; height:296px; background:url(../images/product_bg.png) no-repeat; padding:2px 3px; margin-right:28px;}
.m_p li img{ width:165px; height:165px; margin:0 auto; display:block;}
.m_p li h3{ float:left; width:100%; line-height:50px;padding-top:10px; color:#221e1b; font-weight:normal;  text-indent:15px;}
.m_p li span{ float:left; width:85%; line-height:22px; color:#666;  padding-left:15px;}
.m_pt a{ float:right;width:50px; height:10px; margin:20px 0 0 10px; background:#ccc;}
.m_pt a:hover{ background:#eb1a1a;}
.m_pt a.on{ background:#eb1a1a;}
.m_a{ float:left; width:100%; padding-top:20px;}
.m_a h3{ float:left; line-height:60px; color:#000; font-size:22px; font-weight:normal;}
.m_ainfo{ float:left; width:100%; line-height:22px; color:#666;}
.ainfo{ float:left; width:764px;}
.m_ainfo img{ float:right; width:316px; height:184px; margin-left:20px;}

.links{ float:left; width:100%;border-top:1px solid #ddd; background:#e7e8e9;}
.l_c{ margin:0 auto; width:1100px; padding:10px 0;}
.l_c li{ float:left; width:245px; height:160px; border-left:1px solid #ccc; padding:20px 29px 0 0; }
.l_c li h3{ float:left; line-height:30px; border-left:1px solid #df4351; margin-left:-1px; padding-left:20px; margin-bottom:10px; font-family:"微软雅黑";}
.l_c li span{ float:left; width:100%; padding-left:20px; line-height:22px; font-size:13px; color:#666;}

#conact{ float:left;width:100%; border-top:1px solid #dd3032; padding-bottom:10px;background:url(../images/contactbg.jpg); }
.con_m{ margin:0 auto; width:1100px; padding-top:5px;}
.con_m h3{ float: left; width:100%; line-height:25px; color:#fff; font-size:18px; font-weight:normal; border-bottom:1px solid #901d1e; padding-bottom:5px;}
.con_m ul{ float:left; width:100%; border-top:1px solid #d82c2e;}
.con_m li{ float:left; padding-right:60px; color:#fff; line-heigh:22px;}
.con_m li h4{ font-size:14px; line-height:30px;}

#footerbg{ float:left; width:100%;background:url(../images/footerbg.jpg);}
.footer{ margin:0 auto; width:1100px; line-height:40px; color:#fff;}


/**联系我们**/
.hotbb{ clear:both;float:left; width:99%;  padding-bottom:30px; border:1px solid  #ccc; margin-top:10px; padding:2px;}
.hotbb .hinfo{ float:left; width:90%; background:#fff url(../images/contactbgs.jpg) no-repeat; padding:10px;}
.hinfo h4{ float:left; line-height:20px; color:#333; width:100%;}
.hinfo h3{ float:left; width:100%; line-height:40px; border-bottom:1px solid #d4d4d4; margin-bottom:20px;}
.hinfo p{ clear:both; float:left; width:100%; color:#333; padding-top:5px; line-height:20px;}
.hinfo img{ float:left; text-align: left; margin-right:10px;}
.hinfo strong{ color:#333;  margin-right:5px;}

.co_right{ float:right;width:820px;display: inline; border-left:1px solid #ddd; padding-left:20px; margin-bottom:30px; overflow:hidden;}
.co_right .r_t{ float:left; width:100%; border-bottom:1px solid #ccc; }
.r_t span{ float:right; line-height:30px;}
.r_t i{ line-height:30px; color:#999;  font-style:normal; margin-left:10px;font-family:Arial, Helvetica, sans-serif; font-size:15px; }
.r_t a{ margin:0 5px; color:#666;}
.r_t h3{ float:left; line-height:30px;  font-size:18px; color:#333;font-weight:normal;}

/**产品中心**/
.product{ float:left; width:100%;}
.product li{ float:left; width:206px; margin:40px 0 0 25px;}
.product li img{ float:left; width:206px; height:206px; border:1px solid #ddd;}
.product li a{ float:left; width:100%; line-height:30px; text-align:center; color:#333; }
.product li a:hover{ color:#117238;}
/***新闻1样式***/
.co_right .newsnei{ clear:both; float:left; width:100%;}
.newsnei li{width: 100%;margin-top: 25px;height: 140px; background:url(../images/line_x.png) bottom repeat-x;}
.newsnei li img{ float:left; text-align:left; width:120px; height:120px; margin-right:35px;}
.newsnei li a{ margin:0; padding:0;}
.newstitle {float: left;width: 520px;font-size: 14px;color: #005AAB;}
.newstitle h4{ float:left;color:#222; line-height:30px; font-size:16px;}
.newstitle a:hover{ color:#117238;}
.newstitle dd{ clear:both; float:left; width:100%; line-height:22px; color:#666; padding-top:10px; font-size:12px;}


/**翻页样式**/
.pages{clear:both; float:left;width:100%;padding:20px 0 10px 0;}
.pages span {margin-right: 2px;border:1px solid #ccc;padding: 4px 6px;height: 22px;}
.pages a{margin-right: 2px;border:1px solid #ccc;padding:4px 6px;height:22px; color:#333;}
.pages .now{background:#c2282a; color:#fff;}
.pages a:hover{border:1px solid #c2282a; color:#c2282a;}
.pages a.hov2{border:1px solid #c2282a; color:#c2282a;}

/**产品详情页**/
.detail{ float:left; width:100%; padding:20px 0;}
.d_lbox{ float:left; width:300px; margin-right:20px;}
#preview{ float:left;width:300px; }
.jqzoom{ width:298px; height:298px; position:relative;border:1px solid #ddd;}
.list-h li{ float:left;}
#spec-n5{ float:left;width:300px;padding-top:20px; overflow:hidden;}
#spec-list{ width:325px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:62px;}
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:50px; height:50px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}

.d_r{ float:right; width:480px;}
.d_r h3{ float:left; width:100%; line-height:30px; font-weight:normal; font-size:18px;}
.d_r h4{ float:left; width:100%; line-height:22px; font-size:14px; padding:5px 0; }
.d_r hr{ width:100%; height:1px; background:#ddd;border:0;}
.d_r span{ float:left; width:100%; line-height:30px; font-size:14px;}
.d_rinfo{ float:left; width:100%; padding-top:30px;}
.d_rinfo_t{ float:left; width:100%; height:32px;  border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
.d_rinfo_t a{ float:left;line-height:32px; color:#fff; padding:0 20px; font-size:16px;border-right:1px solid #ddd; border-top:1px solid #ccc; color:#333;}
.d_rinfo_t a:hover{border-top:1px solid #ca2714; color:#ca2714;background:#f9fbfd;}
.d_rinfo_t a.sel{border-top:1px solid #ca2714; color:#ca2714; background:#f9fbfd;}
.d_rinfos{float: left;width:99%;line-height: 30px;font-size: 14px;border: 1px solid #ddd;border-top: 0;padding:0 0 60px 9px; background:#f9fbfd;}

.conact{ float:left; width:100%; margin-top:10px;}
.conact h4{ float:left; line-height:30px; font-size:16px; padding-bottom:20px;}
.conact p{ float:left; width:100%; line-height:22px;}
.conact b{ color:#333; font-size:14px;}
.con_box{ float:left; width:92%; border:1px solid #ccc; margin-top:15px; padding:30px 10px; border-radius:0.5em;}
.con_box dl{ float:left; width:100%; margin-bottom:10px;}
.con_box dl dt{ float:left; width:80px; line-height:30px; margin-right:10px; font-size:14px; text-align: left; padding-left:20px;}
.con_box dl dd{ float:left; width:500px;}
.con_box dl dd a{float: left; line-height:30px; padding:0 20px; background:#ddd; color:#333; margin-right:10px;}
.con_box dl dd a:hover{ background:#117238; color:#fff;}
.con_box input{ float:left; width:404px; height:25px; line-height:25px; border:1px solid #ccc; padding-left:10px;}
.con_box textarea{float:left; width:500px; height:126px;border:1px solid #ccc;}

/**关于我们**/
.sideNav{width: 245px;float: left;}
.sideNav .tit{height:32px;border-bottom:1px solid #ddd;margin-bottom:8px; padding-bottom:10px;}
.sideNav .tit .fsp{float: left;font: 36px/32px Arial;color: #cf2613;margin-right: 7px;_margin-right: 4px;}
.sideNav .tit h2{ font-family:"微软雅黑";color:#1c1f2e; font-size:16px; font-weight:normal;}
.sideNav .tit h3{color:#8f9095;text-transform:uppercase; font-weight:normal;}
.sideNav li{ float:left; width:100%;padding-bottom:2px; background:url(../images/line_x.png) bottom repeat-x;}
.sideNav li a{ float:left; width:90%; line-height:40px;color: #666; padding-left:25px;background: url(../images/icons.png) no-repeat; font-size:14px;}
.sideNav li a:hover{color: #fff;background:#999 url(../images/icon.png) right no-repeat;}
.sideNav .now{color: #fff;background:#999 url(../images/icon.png) right no-repeat;}
.sideNav .list .last a{height:29px;}
.soso{ float:left; width:100%; padding:20px 0; border-bottom:1px solid #ddd; padding-bottom:10px;}
.soso p{ float:left; width:100%; padding:5px 0;}
.soso select{ float:left; width:120px; height:25px; line-height:20px; border:1px solid #ddd; padding-left:10px;}
.soso input{ float:left; width:150px; height:25px; line-height:20px; border:1px solid #ddd; margin-right:10px; padding-left:10px;}
.soso .button{ float:left; padding:0 10px; line-height:25px; color:#fff; background:#cc0000; width:60px}

.rtitle{ clear:both; float:left; width:100%; margin-top:40px; padding-bottom:30px; background:url(../images/line_x.png) bottom repeat-x;}
.rtitle h1{float: left;width: 100%;line-height: 30px;color: #cc0000;font-size: 25px;font-family: "微软雅黑";}
.rtitle b{ font-size:18px; color:#999; line-height:30px; font-family:Arial, Helvetica, sans-serif; margin-left:10px; font-weight:normal;}
.rtitle strong{ clear:both; float:left; width:100%; line-height:22px; color:#222; padding-top:10px; font-size:14px;}
.rtitle span{ float:left; width:100%; line-height:22px;}
.r_info{ float:left; width:100%; line-height:22px; padding-top:30px;}


/**在线留言**/
.j-xd {float:left; background: #f9f9f9;height:auto;margin-bottom: 50px;border:1px solid #ededed;width:94%; padding:20px; margin-top:20px;}
.works .txt_content{ margin:0 auto; width:600px;}
.txt_content .faqline {width: 100%;line-height: 2em;height: auto;text-align: left;margin: 5px 0;}
.faqline .faqtit {width: 200px;display: block;float: left;clear: both;text-align: right;}
.faqline input {vertical-align: middle;font-size: 12px;border: #e6e6e6 1px solid;width:400px; height:30px; line-height:30px;}
.faqline textarea { width:400px; height:150px;word-wrap: break-word;word-break: break-all; border: #e6e6e6 1px solid;}
.faqline .button{float: left;width: 50px;line-height: 20px;height: 22px;border: 0;margin: 20px 20px 0 0;background:#ddd; text-align:center; color:#666;}
.faqline .xz { background:#cc0000; color:#fff;}
.faqline strong{ color:#ff0000; line-height:30px; text-align:left;}

.left-text .textbox{ padding-top:20px;}
.textbox h4{ font-family:"Microsoft YaHei"; font-weight:bold; font-size:13px; color:#4c4c4c; padding-bottom:10px;}
.textbox p{ text-indent:2em; width:750px; line-height:20px; color:#4c4c4c; font-size:12px;}
.boxdl{ padding-top:20px;}
.boxdl dl{ width:100%; height:auto; padding-bottom:20px;}
.boxdl dl dt{ width:142px; height:auto; float:left;}
 h3 .cd{ font-family:"Microsoft YaHei"; font-weight:bold; font-size:13px; color:#6c532e; width:107px; text-align:center; padding-bottom:5px;}
.boxdl dl dt img{ display:block; width:107px; height:107px;}
.boxdl dl dd{ float:right; width:600px; padding-top:30px;}
.boxdl dl dd p{ line-height:20px; text-indent:2px; color:#4c4c4c;}
